body{
    margin: 0%;
    padding: 0;
    background: url(loginBackground.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;

}

.logo{
    /*padding-top: 50px;
    padding-left: 30px;*/
    max-width: 50%;
    max-height: 50%;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #00783f;
}

.loginbox h1{
    color: #0a4190;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #e87903;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1, h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size:  22px;
    color: #0a4190;
}
.quote{
    color: #0a4190;
    font-size: 26px;
    font-weight: bold;
    padding-left: 60px;

}
